Davinci-yt-MacOS/dist/
Davinci-yt-MacOS/build/
Davinci-yt-MacOS/payload_app/
Davinci-yt-MacOS/payload app/
Davinci-yt-MacOS/payload_script/
Davinci-yt-MacOS/payload script/
Davinci-yt-MacOS/*.spec
Davinci-yt-MacOS/app_component.pkg
Davinci-yt-MacOS/script_component.pkg
Davinci-yt-MacOS/YTtoResolveInstaller.pkg
.DS_Store
__pycache__/
*.pyc
